<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>www.takasEt.com</h1>
    <h4>Your registration is complete.</h4>
    <p>Thank you for choosing us.</p>
</body>
</html>

