<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <div>
          
          <form [formGroup]="commentForm" >
            <textarea 
              rows="2"
              formControlName="content" 
              class="span3 form-control">
            </textarea>
            <button #shareCommentButton>paylas</button>
          </form>

          <div>
            <ng-container *ngIf="(replyToCommentState$ | async)?.ownerType == 'comment'; else template">
              <span>
                {{(replyToCommentState$ | async)?.comment?.userName}}
                <i class="fa-regular fa-circle-xmark reset-state-icon" (click)="resetCommentToReplyState()"></i>
                {{" kullanicisina yanit veriyorsun!."}}
              </span>
            </ng-container>
            <ng-template #template>
              <span>{{post?.userName + " kullanicinin gonderisine yorum yapiyorsun."}}</span>
            </ng-template>
          </div>
        </div>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="comment-item" *ngFor="let comment of (comments$ | async)" >
          <app-comment-item  [postId]="post?.id" [comment]="comment"></app-comment-item>
        </div>
        <button (click)="getMore()">more</button>
      </div>

    </div>
  </div>
</div>
