.modal-content{
    .modal-header{
        
    }
    .modal-body{
        height: 400px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .comment-item{
            width: 100%;
        }
        .get-more-button{
            cursor: pointer;
        }
    }
    .modal-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .reset-state-icon{
            cursor : pointer;
        }
    }
}
