<button type="button" style="display:none;" data-toggle="modal" data-target="#commentModal" #commentModalButton></button>
<app-comment-modal
  [post]="postForComments"
  (nextPageOfCommentsEvent)="getNextPageOfComments()"
  (nextPageOfChildrenEvent)="getNextPageOfChildren()"
  (setSelectedCommentEvent)="setSelectedComment($event)"
  [mappedComments]=" mappedComments$ | async"></app-comment-modal>

<button type="button" style="display:none;" data-toggle="modal" data-target="#usersListModal" #usersListModalButton></button>
<app-users-list-modal
  (nextPageOfPostLikersEvent)="getNextPageOfPostLikers()"
  [users]="postLikers$ | async"></app-users-list-modal>
<app-post-list
  [posts]="posts$ | async"
  (displayCommentsEvent)="displayComments($event)"
  (displayLikersEvent)="displayPostLikers($event)"
  (displayViewersEvent)="displayViewers($event)"
  (setSelectedPostEvent)="setSelectedPost($event)"></app-post-list>
<button (click)="getMore()">more</button>
