<div class="modal fade" id="swapRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Takas Istegi Olustur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeButton>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body m-body">
        <div class="post-item" *ngFor="let item of data;index as i">
          <app-swap-request-item
            [post]="item.x"
            [imageUrl]="item.y"
            [index]="i"
            (selectEvent)="selectItems($event)" ></app-swap-request-item>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" #requestingButton>Istek Olustur</button>
      </div>
    </div>
  </div>
</div>
