.root{
  display: flex;
  flex-direction: column;
  .user-info{
    display: flex;
    align-items: center;
    .user-name{
      margin-left: 0.5rem;
    }
  }
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
