<div class="root">

  <div class="parent">
    <app-comment-item-content [comment]="comment"></app-comment-item-content>
  </div>

  <div class="children" *ngIf="comment && comment.countOfChildren > 0">

    <ng-container *ngIf="(childrenVisibility$ | async); else template">

      <ng-container *ngIf="remainingChildrenCount > 0">
        <div class="load-children">
          <span (click)="lodChildren()">{{remainingChildrenCount + ' yaniti goster'}}</span>
        </div>
      </ng-container>
  
      <div class="child" *ngFor="let comment of (children$ | async)">
        <app-comment-item-content  [comment]="comment" [hasChildren]="false"></app-comment-item-content>
      </div>

      <ng-container *ngIf="remainingChildrenCount >= 0 && remainingChildrenCount < comment.countOfChildren">
        <span (click)="hiddenChildren()">{{comment.countOfChildren - remainingChildrenCount + ' yaniti gizle'}}</span>
      </ng-container>
    </ng-container>

    <ng-template #template>
      <ng-container *ngIf="remainingChildrenCount >= 0 && remainingChildrenCount <= comment.countOfChildren">
        <span (click)="showChildren()">{{comment.countOfChildren - remainingChildrenCount + ' yaniti goster'}}</span>
      </ng-container>
    </ng-template>


  </div>
</div>
