<div class="root">

  <div class="parent">
    <app-comment-item-content 
      diameter="50"
      [ownerId]="comment?.id"
      [comment]="comment"
      [postId]="postId">
    </app-comment-item-content>
  </div>

  <div class="children" *ngIf="comment && comment.countOfChildren > 0">

    <ng-container *ngIf="childrenVisibility$ | async; else template">
  
      <div class="child" *ngFor="let child of (children$ | async)">
        <app-comment-item-content 
          diameter="40" 
          [comment]="child" 
          [hasChildren]="false"
          [ownerId]="comment.id"
          [postId]="postId">
        </app-comment-item-content>
      </div>

      <div class="load-children">
        <hr class="line" />
        <span *ngIf="remainingChildrenCount > 0" (click)="loadChildren()" class="load-children-button">
          {{remainingChildrenCount + ' yaniti goster'}}
        </span>
        <ng-container *ngIf="remainingChildrenCount >= 0 && remainingChildrenCount < comment.countOfChildren">
          <span (click)="hiddenChildren()" class="hide-children-button">
            {{'yanitlari gizle'}}
          </span>
        </ng-container>
      </div>

    </ng-container>

    <ng-template #template>
      <div *ngIf="remainingChildrenCount >= 0 && remainingChildrenCount <= comment.countOfChildren" class="show-children">
        <hr class="line" />
        <span (click)="showChildren()" class="show-children-button">
          {{comment.countOfChildren + ' yaniti goster'}}
        </span>
      </div>
    </ng-template>


  </div>
</div>
