<div class="card post-card">
  <div class="card-header post-card-header">
    <home-post-header [post]="post"></home-post-header>
  </div>
  <div class="card-body post-card-body">
    <a>
      <app-post-image-slider
        [post]="post"
        [urls]="(urls$ | async)"
        [currentIndex]="(currentIndex$ | async)"
        (loadImageEvent)="loadImage($event)"
        (changeIndexEvent)="setCurrentIndex($event)"></app-post-image-slider>
    </a>
  </div>
  <div class="card-footer">
    <home-post-footer (displayCommentsEvent)="displayComments($event)" [post]="post"></home-post-footer>
  </div>
</div>
