<div class="root">

  <div class="header">
    <app-display-profile-image diameter="32" [userId]="mappedComment?.comment?.userId" ></app-display-profile-image>
    <div class="content-wrapper">

      <div class="content">
        <span class="user-name">{{mappedComment?.comment?.userName + "  "}}</span>
        <span class="content-text">{{mappedComment?.comment?.content}}</span>
      </div>

      <div class="content-info">
        <ng-container *ngIf="mappedComment && mappedComment.comment.countOfLikes > 0">
          <span class="count-of-likes">{{mappedComment.comment.countOfLikes + ' begeni'}}</span>
        </ng-container>
        <span (click)="replyToComment()" class="reply-to-comment">Yanit ver</span>
        <span>{{mappedComment?.comment?.createdDate | dateFormat}}</span>
      </div>

    </div>
    <app-like-button [likeable]="commentLikingService" [id]="mappedComment?.comment?.id"></app-like-button>
  </div>



</div>

