.root{
  display: flex;
  justify-content: space-between;
  .a{
    display: flex;
    .profile-photo{
      margin-left: 0.7rem;
    }
    .content{
      .info{
        font-size : 0.75rem;
        text-decoration: underline;
        .user-name{
          margin-left: 0.5rem;
        }
        .created-date{
          margin-left: 0.5rem;
        }
      }
      .content-text{
        font-size: 1rem;
        margin-left: 0.5rem;
        margin-top : 0.5rem;
      }
      .reply-comment{
        font-size : 0.6rem;
        margin-left: 0.5rem;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .like-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.85rem;
    .count-of-likes{
      
    }
    .hidden{
      color : white;
    }
  }
}
