<div class="root">
  <div class="a">
    <app-display-profile-image [diameter]="diameter" [userId]="(userId$ | async)" ></app-display-profile-image>
    <div class="content">
      <div class="info">
        <a href="#"><span class="user-name">{{'@'+comment?.userName}}</span></a>
        <ng-container *ngIf="comment && comment.countOfLikes > 0">
          <span class="count-of-likes">{{comment.countOfLikes + " begeni"}}</span>
        </ng-container>
        <span class="created-date">{{comment?.createdDate | dateFormat}}</span>
      </div>
      <div class="content-text">
        <span>{{comment?.content}}</span>
      </div>
      <div class="reply-comment" (click)="replyComment()">
        <span>Yanit ver</span>
      </div>
    </div>
  </div>
  <app-like-button [likeable]="commentLikingService"></app-like-button>
</div>

