<div class="root">
  <div class="footer">
    <div class="likes">
      <app-like-button
        [likeable]="userPostLikingService"
        [id]="post?.id"
        (likeVector)="getLikeVector($event)"></app-like-button>
      <span class="likes-span">{{post?.countOfLikes + ' begeni'}}</span>
    </div>

    <div class="views">
      <span>
        <i class="fa-solid fa-eye"></i>
        {{post?.countOfViews}}
      </span>
    </div>

    <div class="comments" (click)="displayComments()">
      <span>
        <i class="fa-solid fa-comment"></i>
        {{post?.countOfComments}}
      </span>
    </div>
  </div>

  <div class="date">
    <span>{{post?.createdDate | dateFormat}}</span>
  </div>
</div>

