<nav class="header">

  <a class="logo" routerLink="home">TakasEt</a>

  <div class="content">
    <a class="item active-item" routerLink="home">
      <i class="fa-solid fa-house-user"></i>
    </a>
    <a class="item" routerLink="search">
      <i class="fa-solid fa-magnifying-glass"></i>
    </a>
    <a class="item" routerLink="create-post">
      <i class="fa-solid fa-plus"></i>
    </a>
    <a class="item" routerLink="messages">
      <i class="fa-solid fa-comment"></i>
    </a>
    <a class="item" routerLink="notifications">
      <i class="fa-solid fa-bell"></i>
    </a>
    <a class="item" routerLink="profile">
      <i class="fa-solid fa-user"></i>
    </a>
    <!-- <div class="dropdown">
      <a class="item" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="swap-proposals">
          Takas Tekliflerim
          <i class="fa-solid fa-arrow-right"></i>
        </a>
        <a class="dropdown-item" routerLink="swap-requests">
          Takas Isteklerim
          <i class="fa-solid fa-arrow-left"></i>
        </a>
        <a class="dropdown-item" routerLink="followed-posts">
          Takip Ettigim Postlar
        </a>
      </div>
    </div> -->
  </div>
</nav>
