.card{
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top : 1rem;
    border-radius: 0;
    background-color: black;
    .header{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .header-left{
            display: flex;
            align-items: center;
            .username{
                margin-left: 0.25rem;
                color: white;
                font-size : 1.15rem;
            }
            .date{
                margin-left: 0.25rem;
                text-decoration: underline;
            }
        }
        .header-right{
            .swap-icon{
                color : white;
                font-size: 1.7rem;
            }
        }
    }
    .content{
        padding: 0;
    }
    .footer{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        .row1{
            margin-bottom: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left{
                display: flex;
                align-items: center;
                .comment-icon{
                    margin-left: 0.5rem;
                    font-size: 1.7rem;
                    color: white;
                }
            }
            .right{
                .post-category-link{
                    display: flex;
                    align-items: center;
                    .category-icon{
                        font-size: 1.7rem;
                        color: white;
                    }
                    .post-category{
                        font-size: 1.15rem;
                        margin-left: 0.25rem;
                        color: white;
                    }
                }
            }
        }
        .row2{
            .title{
                font-size: 1.15rem;
                font-weight: bold;
                color: white;
                .load-content-button{
                    font-size: 1rem;
                    font-weight: 400;
                    color : gray
                }
            }
        }
    }
}